<%= content_tag :div, class: "row container" do %>
  <%= form_for application, class: "col s12", url: doorkeeper_submit_path(application), html: {role: 'form'} do |f| %>
    <% if application.errors.any? %>
      <div class="alert alert-danger" data-alert><p><%= t('doorkeeper.applications.form.error') %></p></div>
    <% end %>

    <%= content_tag :div, class: "row" do %>
      <%= content_tag :div, class: "input-field col s12" do %>
        <%= f.text_field :name, class: "#{ 'invalid' if application.errors[:name].present? }" %>
        <%= f.label :name %>
        <%= errors_for application, :name %>
      <% end %>
    <% end %>

    <%= content_tag :div, class: "row" do %>
      <%= content_tag :div, class: "input-field col s12" do %>
        <%= f.text_area :redirect_uri, class: "materialize-textarea #{ ' invalid' if application.errors[:redirect_uri].present? }" %>
        <%= f.label :redirect_uri %>
        <%= errors_for application, :redirect_uri %>
        <p>
          <%= t('doorkeeper.applications.help.redirect_uri') %>
        </p>
        <% if Doorkeeper.configuration.native_redirect_uri %>
          <p>
            <%= raw t('doorkeeper.applications.help.native_redirect_uri', native_redirect_uri: "<code>#{ Doorkeeper.configuration.native_redirect_uri }</code>") %>
          </p>
        <% end %>
      <% end %>
    <% end %>

    <%= content_tag :div, class: "row" do %>
      <%= content_tag :div, class: "input-field col s12" do %>
        <%= f.text_field :scopes, class: "#{ 'invalid' if application.errors[:scopes].present? }" %>
        <%= f.label :scopes %>
        <%= errors_for application, :scopes %>
        <p>
          <%= t('doorkeeper.applications.help.scopes') %>
        </p>
      <% end %>
    <% end %>

    <%= content_tag :div, class: "row" do %>
      <%= button_tag class: 'btn light-green', type: 'submit' do %>
        <i class="material-icons left">send</i><%= t('doorkeeper.applications.buttons.submit') %>
      <% end %>
      <%= link_to oauth_applications_path, class: 'btn amber' do %>
        <i class="material-icons left">cancel</i><%= t('doorkeeper.applications.buttons.cancel') %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
