<!--div>
  <h1><%= t('.title') %></h1>
</div-->
<table class="striped">
  <thead>
  <tr>
    <th><%= t('.name') %></th>
    <th><%= t('.callback_url') %></th>
  </tr>
  </thead>
  <tbody>
  <% @applications.each do |application| %>
    <tr id="application_<%= application.id %>">
      <td><%= link_to application.name, oauth_application_path(application) %></td>
      <td><%= application.redirect_uri %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="fixed-action-btn">
  <%= link_to raw('<i class="large material-icons">add</i>'), new_oauth_application_path, class: 'btn-floating btn-large light-blue' %>
</div>
