<% content_for :navigate_up do %>
  <%= link_to oauth_applications_path do %>
    <i class="material-icons">arrow_back</i>
  <% end %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col m9 card">
      <h4><%= t('.application_id') %>:</h4>
      <p class="code"><code id="application_id"><%= @application.uid %></code></p>

      <h4><%= t('.secret') %>:</h4>
      <p class="code"><code id="secret"><%= @application.secret %></code></p>

      <h4><%= t('.scopes') %>:</h4>
      <p class="code"><code id="scopes"><%= @application.scopes %></code></p>

      <h4><%= t('.callback_urls') %>:</h4>

      <table class="bordered code">
        <% @application.redirect_uri.split.each do |uri| %>
          <tr>
            <td>
              <code><%= uri %></code>
            </td>
            <td>
              <%= link_to t('doorkeeper.applications.buttons.authorize'), oauth_authorization_path(client_id: @application.uid, redirect_uri: uri, response_type: 'code', scope: @application.scopes), class: 'btn light-green', target: '_blank' %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="col m3">
      <p>
        <%= link_to edit_oauth_application_path(@application), class: 'btn blue' do %>
          <i class="material-icons left">mode_edit</i><%= t('doorkeeper.applications.buttons.edit') %>
        <% end %>
      </p>

      <p><%= render 'delete_form', application: @application %></p>
    </div>
  </div>
</div>
