<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= t('title') %></title>
    <%= csrf_meta_tags %>
    <%- if flash[:notice].present? %>
      <meta name="notice" content="<%= flash[:notice] %>">
    <% end -%>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%- if sign_in? %>
      <ul id="side-nav" class="side-nav">
        <li><div class="userView light-blue">
          <a><%= image_tag 'ncu_avatar.jpg', class: 'circle' %></a>
          <a><span class="name"><%= portal_id %></span></a>
          <a><span class="email"></span></a>
        </div></li>
        <li class="no-padding">
          <ul class="collapsible" data-collapsible="expandable">
            <li>
              <a class="collapsible-header waves-effect waves-teal"><i class="material-icons">person</i><%= t('end_user') %></a>
              <div class="collapsible-body">
                <ul>
                  <li><a class="waves-effect waves-teal"><%= t('about') %></a></li>
                  <li><a href="/oauth/authorized_applications" class="waves-effect waves-teal"><%= t('authorized_applications') %></a></li>
                </ul>
              </div>
            </li>
            <li>
              <a class="collapsible-header waves-effect waves-teal"><i class="material-icons">computer</i><%= t('developer') %></a>
              <div class="collapsible-body">
                <ul>
                  <li><a class="waves-effect waves-teal"><%= t('about') %></a></li>
                  <li><a class="waves-effect waves-teal"><%= t('proposal') %></a></li>
                  <li><a href="/oauth/applications" class="waves-effect waves-teal"><%= t('applications') %></a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <%- if sign_in? %>
          <li><a href="/sign_out" class="waves-effect waves-teal"><i class="material-icons">exit_to_app</i><%= t('sign_out') %></a></li>
        <% end -%>
      </ul>
    <% end -%>
    <nav>
      <div class="nav-wrapper light-blue">
        <a href="#" class="brand-logo center">NCU OAuth</a>
        <%- if sign_in? %>
          <ul class="left">
            <li><a data-activates="side-nav" id="button-menu"><i class="material-icons">menu</i></a></li>
          </ul>
        <% end -%>
      </div>
    </nav>
    <main role="main">
      <%= yield %>
    </main>
    <footer class="page-footer light-blue">
      <div class="container">
        <div class="row">
          Copyright © 2017 Computer Center, National Central University. All rights reserved.
          <%= link_to t('contact_us'), t('email'), class: "right grey-text text-lighten-4" %>
        </div>
      </div>
    </footer>
  </body>
</html>
