<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= t('title') %></title>
    <%= csrf_meta_tags %>
    <%- if flash[:notice].present? %>
      <%= meta_tag :notice, flash[:notice] %>
    <% end -%>
    <%- if flash[:sign].present? %>
      <%= meta_tag :sign, flash[:sign] %>
    <% end -%>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%- if content_for? :js %>
      <%= yield :js %>
    <% end -%>
  </head>

  <body>
    <%- if sign_in? %>
      <ul id="side-nav" class="side-nav">
        <li><div class="userView light-blue">
          <a><%= image_tag 'ncu_avatar.jpg', class: 'circle' %></a>
          <a><span class="white-text name"><%= portal_id %></span></a>
          <a><span class="email"></span></a>
        </div></li>
        <li>
          <%= link_to oauth_authorized_applications_path, class: 'waves-effect waves-teal' do %>
            <i class="material-icons">person</i><%= t('authorized_applications') %>
          <% end %>
        </li>
        <li>
          <%= link_to oauth_applications_path, class: 'waves-effect waves-teal' do %>
            <i class="material-icons">memory</i><%= t('applications') %>
          <% end %>
        </li>
        <%- if authorization_server_owner? %>
          <li class="no-padding">
            <ul class="collapsible" data-collapsible="expandable">
              <li>
                <a class="collapsible-header waves-effect waves-teal"><i class="material-icons">laptop_mac</i><%= t('authorization_server_owner') %></a>
                <div class="collapsible-body">
                  <ul>
                    <li>
                      <%= link_to t('owners'), oauth_owners_path, class: 'waves-effect waves-teal' %>
                    </li>
                    <li>
                      <%= link_to t('disabled_users'), oauth_disabled_users_path, class: 'waves-effect waves-teal' %>
                    </li>
                    <li>
                      <%= link_to t('users'), oauth_users_path, class: 'waves-effect waves-teal' %>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
        <% end -%>
        <%- if sign_in? %>
          <li>
            <%= link_to sign_out_path, class: 'waves-effect waves-teal' do %>
              <i class="material-icons">exit_to_app</i><%= t('sign_out') %>
            <% end %>
          </li>
        <% end -%>
      </ul>
    <% end -%>
    <nav>
      <div class="nav-wrapper light-blue">
        <%- if sign_in? %>
          <ul class="left">
            <li>
              <%- if content_for? :navigate_up %>
                <a data-activates="side-nav" id="button-menu" style="display: none;"><i class="material-icons">menu</i></a>
                <%= yield :navigate_up %>
              <%- else  %>
                <a data-activates="side-nav" id="button-menu"><i class="material-icons">menu</i></a>
              <% end -%>
            </li>
          </ul>
        <% end -%>
        <%= link_to t('title'), root_path, class: 'brand-logo' %>
        <%- if content_for? :menu %>
          <ul class="right">
            <%= yield :menu %>
          </ul>
        <% end -%>
      </div>
    </nav>
    <main role="main">
      <%= yield %>
    </main>
    <footer class="page-footer light-blue">
      <div class="container">
        <div class="row">
          Copyright © 2017 Computer Center, National Central University. All rights reserved.
          <%= link_to t('contact_us'), t('email'), class: "right grey-text text-lighten-4" %>
        </div>
      </div>
    </footer>
  </body>
</html>
